
#wrapper {
    overflow-x: hidden;
    margin-top: 68px;
}

#sidebar-wrapper {
    min-height: 100vh;
    text-align: center;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    background-color: #484e53;
}

    #sidebar-wrapper .sidebar-heading {
        padding: 1em;
        font-size: 1.7em;
        color: whitesmoke;
    }

#sidebar-wrapper .list-group {
  width: 15rem;
}
    #sidebar-wrapper .list-group a{
        color:#fff;
    }
/*boots classes*/
#sidebar-wrapper .list-group-item-action:hover {
        z-index: 1;
        color: #495057;
        text-decoration: none;
        background-color: #ffffff;
}

    #sidebar-wrapper .list-group-flush > .list-group-item {
        border-width: 0 0 5px;
        font-size: 1.1em;
        padding: 16px;
        border-color: #484e53;
    }
    #sidebar-wrapper .list-group-item {
        position: relative;
        display: block;
        padding: .75rem 1.25rem;
        background-color: #484e53;
        border: 1px solid rgba(0,0,0,.125);
    }
/**/
#page-content-wrapper {
  min-width: 100vw;
}
/**/
#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-right: -15rem;
  }
}
/*-------Toggle but------*/
#page-content-wrapper .btn-outline {
    margin-top: 15px;
    color: #054d36;
    border-color: #054d36;
    border-width: 3px;
}
    #page-content-wrapper .btn-outline:hover {
        color: #054d36;
        border-width: 5px;
        border-color: #054d36;
    }
/*------Rating------*/
/*------Event-------*/
#events img {
    vertical-align: middle;
    border-style: none;
    /*height: 550px;
        width: 192px;*/
    opacity: 0.9;
}

#events .carousel {
    position: relative;
    /* padding-top: 0px; */
    padding-right: 30px;
    padding-left: 30px;
}

/*
        #events .carousel-item {
        padding-left: 20px;
        padding-right: 20px;
    }*/

#events .carousel-inner {
    position: relative;
    width: 100%;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    overflow: hidden;
}
/*location*/
.map-container-2 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

    .map-container-2 iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
